<a href="/">Back</a>

<h2>Messages</h2>
{{#each messages as |message index|}}
<h3>
  <a href="/messages/{{message.author}}">{{message.author}} : {{message.body}}</a>
</h3>
{{/each}}

<a href="/messages/new">Create new message</a>
