<h2>Create a new Message!</h2>
<form action="/questions" method="post">
  <input type="text" name="message[author]" placeholder="author">
  <input type="text" name="message[body]" placeholder="body">
  <input type="submit">
</form>
