<form action="/messages/new" method="post">
  <label for="name"> Please enter an author </label>
  <input type="text" name="message[author]" placeholder="Author">
  <label for="year"> Please enter a body </label>
  <input type="text" name="message[body]" placeholder="Body">
  <input type="submit">
</form>
