<h2>Add a message</h2>
<form class="newMessage" action="/messages" method="post">
  <input type="author" name="message[author]" placeholder="author">
  <input type="body" name="message[body]" placeholder="body">
  <input type="submit" value="Register">

</form>
