<h2>Create a new message</h2>
<form action="/messages" method="post">
  <input type="text" name="message[author]" placeholder="Author">
  <input type="text" name="message[body]" placeholder="Body">
  <input type="submit" value="Submit">
</form>
