<h1>You're doing good!</h1>
<h2>Create a New Message Here!</h2>

<form action="/Message" method="POST">
  <p>  
    <label for="author">Author</label>
    <input type="text" name="author">
  </p>
  <p class="messageBox">  
    <label for="body">Message</label>
    <input type="text" name="body">
  </p>
  <input type="submit" value="Create">
</form>

<a href="/">Hey Nhi- Luck here ok?</a>