<form action="/messages" method="post">
  <input type="text" name="message[author]" placeholder="author">
  <input type="text" name="message[body]" placeholder="message">
  <input type="submit">
</form>
