<h2>New Message:</h2>

<form action="/message" method="post">
    <input type="text" name="Author" placeholder="title">
    <input type="text" name="Body" placeholder="punchline">
    <input type="submit" value="Save">
</form>