<h1>New page</h1>

<form action="/messages" method="POST">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name">
    </p>
    <p>
      <label for="beerCapacity">BeerCapacity</label>
      <input type="text" name="beerCapacity">
    </p>

    <input type="submit" value="Create" name="name">
</form>
