<h3>Add Message</h3>
<form action="/messages" method="post">
  <input type="text" name="message[body]" placeholder= "Message"/>
  <input type="text" name="message[author]" placeholder = "Author"/>
  <button type="submit">Add Message!</button>
</form>
