<h1>Create a new message</h1>

<form action = "/messages" method = "POST">
<p>
  <label for = "author">Author</label>
  <input type = "text" name = "author">
</p>
<p>
  <label for = "body">Description</label>
  <input type = "text" name = "body">
</p>
<input type = "submit" value = "Create">
</form>